<div id="before-after-container">
	<div class="row">
		<div class="large-4 columns">
			<div ng-repeat="testimonial in testimonials track by $index">
				<div ng-if="$index % 3 == 0" class = "panel before-after-single">
					<a ng-href="{{path}}" ng-repeat="path in testimonial.img">
						<img class="before-after-image" ng-src="{{path}}">
					</a>
					<div class="before-after-text-container">
						<div class="before-after-text-1">
							{{testimonial.header}}
						</div>
						<div class="before-after-text-2">
							{{testimonial.text}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div ng-repeat="testimonial in testimonials track by $index">
				<div ng-if="$index % 3 == 1" class = "panel before-after-single">
					<a ng-href="{{path}}" ng-repeat="path in testimonial.img">
						<img class="before-after-image" ng-src="{{path}}">
					</a>
					<div class="before-after-text-container">
						<div class="before-after-text-1">
							{{testimonial.header}}
						</div>
						<div class="before-after-text-2">
							{{testimonial.text}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div ng-repeat="testimonial in testimonials track by $index">
				<div ng-if="$index % 3 == 2" class = "panel before-after-single">
					<a ng-href="{{path}}" ng-repeat="path in testimonial.img">
						<img class="before-after-image" ng-src="{{path}}">
					</a>
					<div class="before-after-text-container">
						<div class="before-after-text-1">
							{{testimonial.header}}
						</div>
						<div class="before-after-text-2">
							{{testimonial.text}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>