<div class="row">

  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 hide-for-small banner">

        <!-- <p><img src="http://placehold.it/1000x400&text=[banner img ftb]"/></p> -->
        <h4 class="text-brand"><img height="200px"src="/img/muse.png"/>Here is some random text the monkeys need to figure out</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div>

  <br>
<div class="row">
  <div class="large-4 small-12 columns">

    <img src="http://placehold.it/500x500&text=Promo">

    <div class="hide-for-small panel">
      <h3>Header</h3>
      <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
      </h5>
    </div>

  </div>
  <div class="large-8 columns">
    <div class="row" data-match-height>

      <div class="large-4 small-6 columns" ng-repeat="p in products" ng-click="goToProduct(p.productnumber)">
        <img ng-src="{{p.img}}">
        <div class="panel">
          <h5 class="product-title">{{p.name}}</h5>
          <h6 class="subheader">${{p.price}}</h6>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="large-12 columns">
        <div class="panel">
          <div class="row">

            <div class="large-2 small-6 columns">
              <img src="http://placehold.it/300x300&text=Promo">
            </div>

            <div class="large-10 small-6 columns">
              <strong>Some promotional stuff<hr/></strong>

              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>