<div class="row">

  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 hide-for-small banner">

        <!-- needs centering -->
        <h2 class="text-white"><img height="200px"src="/img/muse.png"/>Welcome to the Y Lift Store!</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="https://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div>

  <br>
<div class="row">
  <div class="large-4 small-12 columns">

    <div class="hide-for-small panel">
      <h3 id="featured-product-text">Featured Product</h3>
      <img class="pointer" width="500px" height="500px" src="https://s3.amazonaws.com/ylift.io/Juvederm_Ultra.png.png" ng-click="goToProduct('01-004-01')"> 
      
      <h5 style="margin-top:15px" class="subheader">Juvederm is the recommended hyalauronic acid soft-tissue dermal filler for the Y Lift procedure.
      </h5>
    </div>

  </div>
  <div class="large-8 columns">
    <div class="row" data-match-height>

      <div class="large-4 small-6 columns" ng-repeat="p in products" ng-click="goToProduct(p.productnumber)">
        <div class="product-card pointer">
          <div style="height:150px; overflow-y:hidden;">
            <img ng-src="{{p.remote_img || p.img}}?dim=475x475" class="image" ng-error="defaultImage(p)">
          </div>
          <div class="content">
            <h5 class="product-title">{{p.name}}</h5>
            <h6 class="subheader">${{p.price}}</h6>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="large-12 columns">
        <div class="panel">
          <div class="row">

            <div class="large-2 small-6 columns">
              <img class="pointer" ng-click="goToProduct('04-002-01')"width="300px" height="300px" src="https://s3.amazonaws.com/ylift.io/04-002-01.jpeg">
            </div>

            <div class="large-10 small-6 columns">
              <strong>Featured Product: Cannula<hr/></strong>

              A specially modified titanium instrument used in the Y Lift procedure to lift, tighten, and rejuvinate the face.
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>