<div ng-show="valid">
	<form id="passreset-form" class="large-2 large-offset-5 columns" name="resetform" ng-model="resetform" novalidate>
		<fieldset>
		  <legend ui-sref="login"><i class="i-arrow-left"></i> Back to Login</legend>
		  <p ng-if="failedMessage" style="color: red">{{failedMessage}}</p>
		  
		  <div style="margin-top:5%" class="row">
		  	<input name="password" type="password" ng-model="password" ng-minlength="6" placeholder="Choose a new password" required>
		  	<input name="confirm" type="password" ng-model="confirm" ng-minlength="6" placeholder="Confirm" required>
		  </div>
		  
		  <div class="row">
		      <button ng-disabled="resetform.$invalid || password != confirm" type="submit" class="button small" value="Submit" ng-click="updatePassword()"/>
		  </div>
		</fieldset>
	</form>
</div>
<div ng-show="!valid">
	<div class="row">
		<div class="small-3 small-offset-6 columns">
			<p>{{message}}</p>
		</div>
	</div>
</div>