<form id="passreset-form" class="large-2 large-offset-5 columns" name="resetform" ng-model="resetform" novalidate>
  <legend ui-sref="login"> Back to Login</legend>
  <p ng-if="failedMessage" style="color: red">{{failedMessage}}</p>
  
  <div style="margin-top:5%" class="row form-group">
  	<input name="password" type="password" ng-model="password" ng-minlength="8" placeholder="Choose a new password" required>
  	<input name="confirm" type="password" ng-model="confirm" ui-validate="'$value=p1'" ui-validate-watch="'password'" ng-minlength="8" placeholder="Confirm" required>
  </div>
  
  <div class="row">
      <input ng-disabled="resetform.$invalid || password != confirm" type="submit" class="btn ylift-brand btn-sm" value="Submit" ng-click="updatePassword()"/>
  </div>
</form>