<form class="reset-form form-horizontal col-md-2 col-md-offset-5" name="resetform" ng-model="resetform" novalidate>
  <legend ui-sref="login"><i class="fa fa-chevron-left clickable"></i>   Back to Login</legend>
  <p ng-if="failedMessage" style="color: red">{{failedMessage}}</p>
  
  <div class="row form-group">
  	<input name="p1" type="password" class="form-control" ng-model="password" ng-minlength="8" placeholder="Choose a new password" required>
  	<input name="p2" type="password" class="form-control" ng-model="confirm" ng-minlength="8" placeholder="Confirm" required>
  </div>
  
  <div class="row form-group">
      <input ng-disabled="resetform.$invalid || (resetform.p1 == resetform.p2)" type="submit" class="btn ylift-brand btn-sm" value="Submit" ng-click="updatePassword()"/>
  </div>
</form>