.side-nav {
	&.admin {
		background-color: $white;
	}
}

.admin-users-summary {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.info-row {
	margin-top: 1rem;
}

#orders-chart {
	width: 100%;
	height: 300px;
	margin-top: 20px;
}