.booking-modal {
	position: absolute;
	width: 60%;
	top: 100px;
	left: 20%;
	min-height: 650px;
	background-color: $white;
	z-index: 4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	border-radius: 2px;
  	padding: 2rem 1rem;

  	@media (max-width: 840px) {
  		left: 10%;
  		width: 80%;
  	}
	@media (max-width: 540px) {
  		left: 0%;
  		width: 100%;
  	}

}

.learn-more-modal {
	@extend .booking-modal;
	min-height: 400px;
  	padding: 2rem;

	img {
		width: 100px;
		height: 100px;
  		margin-left: 45%;
	}

	.row, p {
		margin-top: 3rem;
	}

	@media (max-width: 840px) {
  		width: 80%;
  		left: 10%;
  	}
	@media (max-width: 540px) {
  		width: 100%;
  		left: 0%;
  	}
}

.date-column {
	text-align: center;
	float: none !important;
	color: $white;
	background-color: $success-color;
	@extend .pointer;
	
	&:hover {
		background-color: scale-color($success-color, $lightness: -14%);
		span {
			display: none;
		}
		&:before {
			content: "Request";
		}
	}

	&.requested {
		color: #333;
		background-color: $secondary-color;

		span {
			display: none;
		}

		&:after {
			content: "Pending";
		}


		&:hover {
			span {
				display: inline;
			}
			&:after {
				content: none;
			}
			&:before {
				content: none;
			}
		}
	}

	&.confirmed {
		background-color: $primary-color;

		span {
			display: none;
		}

		&:after {
			content: "Confirmed";
		}

		&:hover {
			span {
				display: inline;
			}
			&:after {
				content: none;
			}
			&:before {
				content: none;
			}
		}
	}
}

.date-column-provider {
	text-align: center;
	float: none !important;
	color: #333;
	background-color: $secondary-color;
	@extend .pointer;

	&:hover {

		span {
			display: none;
		}
		
		&:before {
			content: "Open";
		}
	}

	&.requested {
		color: $white;
		background-color: $primary-color;

		span {
			display: none;
		}

		&:before {
			content: "Pending";
		}


		&:hover {
			span {
				display: none;
			}
			&:before {
				content: "Respond";
			}
		}
	}

	&.confirmed {
		color: $white;
		background-color: $success-color;

		span {
			display: none;
		}

		&:before {
			content: "Confirmed";
		}

		&:hover {
			span {
				display: inline;
			}
			&:before {
				content: none;
			}
		}
	}
}

.appt-confirm-modal {
	position: absolute;
	width: 60%;
	top: 100px;
	left: 20%;
	min-height: 350px;
	background-color: $white;
	z-index: 4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	border-radius: 2px;
  	padding: 2rem 1rem;
  	.content {

  	}
}

.cal-nav {
	@extend .pointer;
	margin-top:0.5rem;
}

.cal-row {
	margin-top:1rem;
}

.cart-modal {
	@extend .booking-modal;
	min-height: 400px;
  	padding: 2rem;

	@media (max-width: 840px) {
  		width: 80%;
  		left: 10%;
  	}
	@media (max-width: 540px) {
  		width: 100%;
  		left: 0%;
  	}
}