.nav-bar-dir {
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.12);
}

.box-drop {
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.logo {
	width:52px;
	margin-top: 2px;
	margin-left: 4px;
}

.top-bar input [type="search"] {
	min-width: 300px;
}

.top-bar {
	.cart {
		a {
			display: flex;
			line-height: 52px !important;
		}

		.i-cart {
			margin-right: 0.3rem;
		}
	}
}

.mobile {

	.top-bar {
		height: 30px;
	}

	.cart {
		color:$ylift;
	}

	a.account {
		color:$ylift;
	}

	form {

		input {
			height: $topbar-height - 14;
			margin-top: 7px;
			width: 100%;
		}
	}

	.menu {

		padding-top: 5px;

		.i-menu {
			color: $ylift;
			font-size: 25px;
		}
	}

	button.search {
		padding: 0;
		margin: 15px 7px;
		cursor: pointer;
		font-size: 25px;

		i {
			float: left;
		}
	}

	.top-bar-section ul {
		position: fixed;
	}
}

/*hey twitter, suck my FUCKING ASSHOLE*/
.f-dropdown {
	max-width:5000px;
	width:100%!important;
}

.f-dropdown > li {
	width:100%;
}

.f-dropdown > li.active > a {
	background-color:$white!important;
	color:$ylift!important;
}

.f-dropdown > li > a {
	background-color:$ylift!important;
	color:$white!important;
}

#search-wrapper {
	position:absolute;
	left:30%;
	width:45%;
}

#searchbar {
	height:70%;
	border-radius:10px;
	font-size:100%;
	background-color: $off-white;
}

.mobile {
  input [type="search"] {
    border-radius: 10px;
  }
}

.nav-text {
	font-size:105%!important;
}

.i-search {
	position:absolute;
	font-size:170%;
	right: 0;
	margin-right: 1.3rem;
	top:8.5px;
	color:$ylift;
}

.show-for-medium-up {
	&.category {
		margin-left: 10%;
	}
}

.nav-sub-header {
	float: left;
	color:#CCC;
	font-size: 14px;
	padding-left: 3px;
	padding-top: 5px;

}