.top-bar input [type="search"] {
	min-width: 300px;
}

.top-bar {
	.cart {
		a {
			display: flex;
		}

		.i-cart {
			margin: 0 10px;
		}
	}
}

.mobile {

	.top-bar {
		height: 30px;
	}

	.cart {
		color:$white;
	}

	a.account {
		color:$white;
	}

	form {

		input {
			height: $topbar-height - 14;
			margin-top: 7px;
			width: 100%;
		}
	}

	.menu {

		padding-top: 5px;

		.i-menu {
			color: $white;
			font-size: 25px;
		}
	}

	button.search {
		padding: 0;
		margin: 15px 7px;
		cursor: pointer;
		font-size: 25px;

		i {
			float: left;
		}
	}

	.top-bar-section ul {
		position: fixed;
	}
}

/*hey twitter, suck my FUCKING ASSHOLE*/
.f-dropdown {
	max-width:5000px;
	width:100%!important;
}

.f-dropdown > li {
	width:100%;
}

.f-dropdown > li.active > a {
	background-color:$ylift!important;
	color:white!important;
}

.f-dropdown > li > a {
	background-color:white!important;
	color:$ylift!important;
}

#search-wrapper {
	position:absolute;
	left:30%;
	width:50%;
}

#searchbar {
	height:70%;
	border-radius:10px;
	font-size:100%;
}

.mobile {
  input [type="search"] {
    border-radius: 10px;
  }
}

.nav-text {
	font-size:105%!important;
}

.i-search {
	position:absolute;
	font-size:170%;
	margin-left:-15%;
	top:8.5px;
	color:$ylift;
}