#passreset-form {
	margin-top:5%;
}

.pointer {
	cursor: pointer;
}

/*someone is going to look at this in the future and think we are fucking idiots*/
.margin-top-10 {
	margin-top:10px;
}

.margin-bottom-10 {
	margin-bottom:10px;
}

.auto-center {
	display:block;
	margin:auto;
}

.input-invalid {
	border-color: red;
}