//Vars

$black:   #000000;
$gray-70: #C4BCB2;
$gray-50: #d2cac1;
$gray-30: #e3ddd6;
$gray-10: #f1f1f1;
$dark-grey: #444444;
$white:   #ffffff;
$off-white: #f3f3f3;

// primary colors
$pink:    #f3606e;
$yellow:  #f8d541;
$orange:  #f86643;
$blue:    #436cff;
$purple:  #9a57f1;
$green:   #02d033;

// secondary colors
$wine:    #560741;
$olive:   #564604;
$brown:   #601b0f;
$navy:    #1a1e4b;
$dark-purple:  #422a68;
$dark-green:   #004c1b;

// shades of primary colors
$light-pink:    #f79fa8;

//YLift custom color
$ylift: #C0A9A3;
$ylift-light: #F4F0F0;