<div ng-if="!cartProductsLoading" class="reveal-modal medium" id="cart" data-reveal>
  <div class="row">
    <div class="small-2 small-offset-7 columns">Price</div>
    <div class="small-3 columns end">Quantity</div>
  </div>
  <product-cart-dir ng-repeat="product in productsInCart" product="products[product.productnumber]" quantity="product.quantity" edit="true"></product-cart-dir>
  <div class="row">
  	<div class="small-5 small-offset-7 columns">
  		<button class="button tiny" ng-click="goToCheckout()">Checkout</button>
 		<button class="button secondary tiny" ng-click="hide()">Close</button>
  	</div>
  </div>
</div>