<div class="row">
	<div class="small-2 small-offset-8 columns">Price</div>
	<div style="padding:0" class="small-2 columns end text-center">Quantity</div>
</div>
<hr>
<product-cart-dir ng-if="!cartProductsLoading" ng-repeat="product in productsInCart" ind="$index" item="product" product="products[product.productnumber]" edit="true"></product-cart-dir>
<div class="row">
	<button class="button small right" ng-click="goToCheckout()">Checkout</button>
  	<button class="button secondary small right" ng-click="close()">Close</button>
</div>
