<top-bar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <img class="logo clickable" src="/img/logo.png" ui-sref="store"/>
      </h1>
    </li>
  </ul>

  <top-bar-section>
    <ul class="search">
      <li class="show-for-medium-up category" has-dropdown>
        <a class="nav-text">Shop by <strong>Category</strong></a>
        <ul top-bar-dropdown>
          <li ng-repeat="(cat, count) in productCategories | orderBy: 'count'"><a ng-click="search(cat)">{{toTitleCase(cat)}}</a></li>
        </ul>
      <li id="search-wrapper" class="has-form">
        <form style="height:100%" ng-submit="search(searchQuery)">
          <div style="height:100%" class="row collapse">
            <div style="height:100%" class="small-10 columns">
              <input id="searchbar" type="text" ng-model="searchQuery" typeahead="name for name in productNames.length ? [$viewValue].concat(productNames) : [] | filter:$viewValue | limitTo:6" typeahead-on-select="search(searchQuery)" class="nav-text" placeholder="Search for anything" autoselect>
            </div>
            <div class="small-2 columns">
              <i ng-click="search(searchQuery)" class="i-search pointer"> </i>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <ul class="right">
      <li class="cart">
        <a class="nav-text" ng-click="openCart()">
        <div class="i-cart"></div>
        My Cart ({{itemCount}})
        </a>
      </li>
      <li class="divider"></li>
      <li ng-hide="profileid">
        <a class="nav-text" ui-sref="login">Login or Signup</a>
      </li>
      <li ng-show="profileid" has-dropdown>
        <a class="nav-text">
          {{name || 'My Account'}}
        </a>
        <ul top-bar-dropdown>
          <li><a ui-sref="profile">Profile</a></li>
          <li><a ui-sref="settings.profile">Settings</a></li>
          <li ng-if="isMerchant" class="divider"></li>
          <li class="nav-sub-header" ng-if="isMerchant">Merchant</li>
          <li ng-if="isMerchant"><a ui-sref="merchant_orders">View Orders</a></li>
          <li ng-if="isMerchant"><a ui-sref="merchant_inventory.view">Manage</a></li>
          <li ng-if="isMerchant"><a ui-sref="settings.merchant">Settings</a></li>
          <li class="divider"></li>
          <li><a ng-click="logoutNow()">Log Out</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>
  </top-bar-section>
</top-bar>
