<div ng-if="users.length" class="row admin-users-summary">
	<div class="small-6 large-3 columns">
		<span>{{users.length}}</span><br>
		<small>Total Users</small>
	</div>
	<div class="small-6 large-3 end columns">
		<span>{{getYLIFTUserCount()}}</span><br>
		<small>Y LIFT Network Users</small>
	</div>
	<div class="small-6 large-3 end columns">
		<span>{{getActiveUserCount()}}</span><br>
		<small>Recently Active Users</small>
	</div>
	<div class="small-6 large-3 end columns">
		<span>{{getMonthlyUserCount()}}</span><br>
		<small>Monthly Active Users</small>
	</div>
</div>
<div ng-if="users.length" class="row" ng-repeat="user in users">
	{{user.name}}
</div>
<div ng-hide="users.length" class="loader locations-loading">Loading...</div>