<div class="large-6 large-offset-3 small-12 columns">
	<div class="row clearfix">
		<h4 class="left">{{merchant.name}} Orders</h4>
		<input name="orders-search" type="text" ng-model="query" class="right" placeholder="Search all orders" autoselect>
	</div>
	<div class="row">
		<ul class="breadcrumbs">
			<li>All Orders</li>
		    <li>Open Orders</li>
		    <li>Cancelled Orders</li>
		</ul>
	</div>
		<div class="order-panel" ng-repeat="order in orders">
			<div class="order-header">
				<div class="row">
					<div class="small-6 large-4 columns">
						<h5>Order Placed</h5>
						<p>{{displayDate(order.createdAt)}}</p>
					</div>
					<div class="small-6 large-2 columns">
						<h5>Total</h5>
						<p>${{order.total}}</p>
					</div>
					<div class="show-for-medium-up large-4 columns">
						<h5>Ship To</h5>
						<p>{{order.shipTo.city}}, {{order.shipTo.state}}</p>
					</div>
					<div class="show-for-medium-up large-2 columns">
						<h5>Order #</h5>
						<p ng-click="goToOrder(order.id)"><a>{{order.id}}</a></p>
					</div>
				</div>
			</div>
			<div class="order-body">
				<div class="row" ng-repeat="product in getMerchantProducts(order.products)">
					<div class="small-3 columns">
						<img ng-src="{{product.img}}">
					</div>
					<div class="small-5 columns">
						<h4>{{product.name}}</h4>
					</div>
					<div class="small-4 columns">
						<label>Update Status:
			        <select ng-model="order.status" ng-change="updateOrder(order)">
			          <option value="PROCESSING">Processing</option>
			          <option value="PROCESSED">Processed</option>
			          <option value="IN TRANSIT">In Transit</option>
			          <option value="DELIVERED">Delivered</option>
			        </select>
			      </label>
					</div>
				</div>
			</div>
		</div>
</div>