<div class="row support-box">
	<div class="small-12 large-7 large-centered columns">
	<h2><i class="i-support"></i>  Y LIFT Support</h2>
	<h5>Please fill out the form below to open up a support ticket with our customer service department.</h5>
	<error-dir msg="{{error}}"></error-dir>
	<div class="panel">
		<form ng-hide="submitted" ng-submit="sendRequest()">
			<div class="row">
				<div class="small-12 large-12 columns">
					<label>Email
						<input type="text" ng-model="email" placeholder="Enter your contact email" required/>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
					<label>Subject
						<input type="text" ng-model="subject" placeholder="Subject (or select topic below)"/>
					</label>
				</div>
			</div>
			<div class="row">
		    <div class="small-12 large-12 columns">
		      <label>Support Area
		        <select ng-model="topic">
		          <option value="network">Y LIFT® Network</option>
		          <option value="training">Y LIFT® Training</option>
		          <option value="sell">Sell on Y LIFT® Store</option>
		          <option value="returns">Returns</option>
		          <option value="feedback">Feedback</option>
		          <option value="general">General Inquiry</option>
		        </select>
		      </label>
		    </div>
		  </div>
		  <div ng-show="topic == 'returns'" class="row">
				<div class="small-12 large-12 columns">
					<label>Order #
						<input type="text" ng-model="orderid" placeholder="Enter the order number (if possible)"/>
					</label>
				</div>
			</div>
		  <div class="row">
		    <div class="small-12 large-12 columns">
		      <label>Message
		        <textarea rows="8" ng-model="message" placeholder="Leave a message regarding your inquiry to provide any relevant information"></textarea>
		      </label>
		    </div>
		  </div>
		  <button type="submit" class="button expand">
		  	<span ng-hide="submitting">Submit Inquiry</span>
		  	<div ng-show="submitting">Submitting...</div>
		  </button>
		</form>
		<strong ng-show="submitted">Thank you for your inquiry, we will get back to as soon as possible. If you have any further questions or concerns please email support@ylift.io for an immediate response. Thank you!</strong>
	</div>
	</div>
</div>