<div style="border-bottom:2px solid black; margin-bottom:20px" class="row text-center">
	<div style="text-align:center; border-right:2px solid black" class="large-3 columns">
		<h3><a ng-click="changeView('cheekchin')">Cheek & Chin</a><h3>
	</div>
	<div style="text-align:center;border-right:2px solid black" class="large-6 end columns">
		<h3><a ng-click="changeView('contouring')">Facial Contouring & Augmentation</a></h3>
	</div>
	<div style="text-align:center" class="large-3 end columns">
		<h3><a ng-click="changeView('necklift')">Neck Lift</a></h3>
	</div>
</div>
<div class="row">
	<div class="small-12 large-6 columns">
		<img src="img/zones_face.jpg"/>
	</div>
	<div ng-show="viewState == 'cheekchin'" class="small-12 large-6 columns">
		<h3 style="text-decoration:underline"><strong>Cheek & Chin</strong></h3>
		<p>High prominent cheekbones and a well defined jawline are coveted facial features and definitive characteristics of beauty.</p>
		<p>These, and other paradigms of beauty, can be achieved and enhanced through a variety of surgical and non-surgical procedures:</p>
		<ul>
			<!-- <li><a>Y LIFT®</a></li>
			<li><a>BEAUTY LIFT®</a></li>
			<li><a>CHYNJECTION™ – INSTANT JAWLINE REJUVENATION</a></li> -->
			<li>Y LIFT®</li>
			<li>BEAUTY LIFT®</li>
			<li>CHYNJECTION™ – INSTANT JAWLINE REJUVENATION</li>
		</ul>
		<p>Even those lucky enough to be born with these natural contours can sometimes lose some fullness and prominence due to aging. Our techniques can restore this beauty, often in only one office visit.</p>
		<a>BOOK AN APPOINTMENT</a>
	</div>
	<div ng-show="viewState == 'contouring'" class="small-12 large-6 columns">
		<h3 style="text-decoration:underline"><strong>Facial Contouring & Augmentation</strong></h3>
		<p>There are specific facial deformities that cannot be corrected through traditional cosmetic surgeries as a facelift or chin implant.</p>
		<a>BOOK AN APPOINTMENT</a>
	</div>
	<div ng-show="viewState == 'necklift'" class="small-12 large-6 columns">
		<h3 style="text-decoration:underline"><strong>Neck Lift</strong></h3>
		<p>The neck lift improves the appearance of the neck area, enhances the jawline, using a small incision under the chin and / or behind the ears. Certain cases may require liposuction to achieve a more youthful neckline.</p>
		<p>What to expect following surgery:</p>
		<ul>
			<li>Swelling and bruising</li>
			<li>Discomfort controlled with medication</li>
			<li>Smooth, firmer neck and jawline</li>
		</ul>
		<a>BOOK AN APPOINTMENT</a>
	</div>
</div>