<div class="row">
  <form>
  <legend>My Info</legend>
    <fieldset>
      <div>
        <label for="inputName">Name</label>
        <div class="col-md-9">
          <input type="text" ng-model="profile.name" placeholder="{{profile.name}}">
        </div>
      </div>
      <div>
        <label for="inputEmail" class="col-md-3 control-label">Email</label>
        <div class="col-md-9">
          <input type="text" ng-model="profile.email" placeholder="{{profile.email}}">
        </div>
      </div>
      <div>
        <label for="inputName" class="col-md-3 control-label">Phone</label>
        <div class="col-md-9">
          <input type="text" ng-model="profile.phone" placeholder="{{profile.phone}}">
        </div>
      </div>
      <div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <button ng-hide="addAddressView" type="submit" class="btn ylift-brand" ng-click="updateProfile()">
            <span ng-hide="updating">Save Changes</span>
            <div ng-show="updating" class="spinner"></div>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <div>
    <legend>
      My Addresss
      <i class="fa text-ylift pull-right clickable" ng-class="{'fa-plus-square-o': addAddressView, 'fa-plus-square':!addAddressView}" ng-click="toggleAddAddress()">Add Address</i> 
    </legend>
    <ul class="list-group">
      <li ng-repeat="address in addresses" ng-click="selectAddress($index)" ng-class="{'ylift-brand':isCurrAddress($index)}">
        <i ng-hide="address.default" class="fa fa-circle-o"></i>
        <i ng-show="address.default" class="fa fa-check-circle"></i>
        {{address.name}}
        <i class="fa fa-trash pull-right clickable" ng-click="removeAddress($index)"></i>
      </li> 
    </ul>
    <form>
      <div ng-show="addAddressView || showAddressView">
        <div>
            <input type="text" ng-model="addressname" placeholder="Address Name" required/>
        </div>
        <div>
            <input type="text" ng-model="address1" placeholder="Address" required/>
        </div>
        <div>
            <input type="text" ng-model="address2" placeholder="Suite # (If relevant)"/>
        </div>
        <div>
            <input type="text" ng-model="city" placeholder="City" required/>
        </div>
        <div>
            <input type="text" ng-model="state" placeholder="State" required/>
        </div>
        <div>
            <input type="text" ng-model="zip" placeholder="Zip" required/>
        </div>
        <div>
            <button ng-show="addAddressView" type="submit" class="btn ylift-brand" value="Add Address" ng-click="addAddress()"/>
              <span ng-hide="updating">Add Address</span>
              <div ng-show="updating" class="spinner"></div>
            </button>
            <button ng-show="showAddressView" type="submit" class="btn ylift-brand" value="Add Address" ng-click="updateAddress()"/>
              <span ng-hide="updating">Update Address</span>
              <div ng-show="updating" class="spinner"></div>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>