<div class="row">
  <form>
  <legend>My Info</legend>
    <fieldset>
      <div>
        <label for="inputName">Name</label>
        <div>
          <input type="text" ng-model="profile.name" placeholder="{{profile.name}}">
        </div>
      </div>
      <div>
        <label for="inputEmail">Email</label>
        <div>
          <input type="email" ng-model="profile.email" placeholder="{{profile.email}}" required>
        </div>
      </div>
      <div>
        <label for="inputName">Phone</label>
        <div>
          <input type="tel" ng-model="profile.phone" placeholder="{{profile.phone}}">
        </div>
      </div>
      <div>
        <div></div>
        <div>
          <button ng-hide="addAddressView || showAddressView" type="submit" class="button small" ng-click="updateProfile()">
            <span ng-hide="updating">Save Changes</span>
            <span ng-show="updating">Saving....</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <div>
    <div class="row">
        <div class="large-3 small-6 columns">
          My Addresss
        </div>
        <div class="large-3 large-offset-6 small-6 columns text-right">
          <div ng-hide="addAddressView" class="i-plus" ng-click="toggleAddAddress()"></div>
          <div ng-show="addAddressView" class="i-cancel-circled" ng-click="toggleAddAddress()"></div>
        </div>
    </div>
    <div class="row address-list" ng-repeat="address in addresses">
      <div class="large-1 small-1 columns" ng-click="makeDefault($index)">
        <i ng-show="address.default" class="i-star"></i>
        <i ng-show="!address.default" class="i-star-open"></i>
      </div>
      <div class="large-5 small-6 columns">{{address.name}}</div>
      <div class="large-3 large-offset-3 small-5 columns">
        <a class="address-edit-link" ng-click="selectAddress($index)">Edit</a>|
        <a class="address-edit-link" ng-click="removeAddress($index)">Delete</a>
      </div>
    </div> 
    <form ng-show="addAddressView || showAddressView">
      <fieldset>
        <div>
            <input type="text" ng-model="addressname" placeholder="Address Name" required/>
        </div>
        <div>
            <input type="text" ng-model="address1" placeholder="Address" required/>
        </div>
        <div>
            <input type="text" ng-model="address2" placeholder="Suite # (If relevant)"/>
        </div>
        <div>
            <input type="text" ng-model="city" placeholder="City" required/>
        </div>
        <div>
            <input type="text" ng-model="state" placeholder="State" required/>
        </div>
        <div>
            <input type="text" ng-model="zip" placeholder="Zip" required/>
        </div>
        <!-- <div class="row"> -->
          <button ng-show="addAddressView" type="submit" class="button small" ng-click="addAddress()">
            <span ng-hide="updating">Add</span>
            <span ng-show="updating">Adding...</span>
          </button>
          <button ng-show="addAddressView && !updating" class="button secondary small" ng-click="toggleAddAddress()"/>
            <span>Cancel</span>
          </button>
          <button ng-show="showAddressView" type="submit" class="button small" ng-click="updateAddress()">
            <span ng-hide="updating">Update</span>
            <span ng-show="updating">Updating...</span>
          </button>
          <button ng-show="showAddressView && !updating" class="button secondary small" ng-click="toggleShowAddress()">
            <span>Cancel</span>
          </button>
        <!-- </div> -->
      </fieldset>
    </form>
  </div>
</div>