<div style="margin-top:30px;" class="large-8 large-offset-1 end columns">
	<error-dir msg="{{error}}"></error-dir>
	<div ng-if="notify" style="margin-top:1rem;" data-alert class="alert-box info radius notification animated"> {{notify}}</div>

	<div class="row admin-user-header">
		<h4>Basic Info
			<i ng-hide="edit=='basicinfo'" class="right i-settings" ng-click="edit='basicinfo'"></i>
			<i ng-show="edit=='basicinfo'" class="right i-save" ng-click="updateInfo()"></i>
			<i ng-show="edit=='basicinfo'" class="right i-cancel" ng-click="edit=false"></i>
		</h4>
	</div>
	<div class="row">
		<table style="width:100%">
			<thead>
			    <tr>
			      <th>Name</th>
			      <th>Email</th>
			      <th>Phone</th>
			      <th>Member Since</th>
			      <th>Last Login</th>
			    </tr>
			</thead>
			<tbody>
				<tr ng-show="edit=='basicinfo'">
					<th style="padding:0"><input style="margin:0" type="text" placeholder="{{profile.name}}" ng-model="$parent.name"></input></th>
					<th style="padding:0"><input style="margin:0" type="text" placeholder="{{profile.email}}" ng-model="$parent.email"></input></th>
					<th style="padding:0"><input style="margin:0" type="text" placeholder="{{profile.phone}}" ng-model="$parent.phone"></input></th>
					<th>{{displayDate(profile.createdAt)}}</th>
					<th>{{displayDate(profile.last_login)}}</th>
				</tr>
				<tr ng-hide="edit=='basicinfo'">
					<th>{{profile.name}}</th>
					<th>{{profile.email}}</th>
					<th>{{profile.phone}}</th>
					<th>{{displayDate(profile.createdAt)}}</th>
					<th>{{displayDate(profile.last_login)}}</th>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row admin-user-header">
		<h4>Addresses
			<i ng-hide="addAddressView" class="i-plus pointer right" ng-click="enableAddAddress()"></i>
          	<i ng-show="addAddressView" class="i-cancel-circled pointer right" ng-click="cancel()"></i>
		</h4>
	</div>
    <div class="row address-row" ng-repeat="address in addresses track by $index">
      <div style="padding:0" class="large-1 small-1 columns" ng-click="makeDefault($index)">
        <i ng-show="address.default" class="i-star"></i>
        <i ng-show="!address.default" class="i-star-open"></i>
      </div>
      <div style="padding:0" class="large-5 small-6 columns">{{address.name}}</div>
      <div style="padding:0" class="large-3 large-offset-3 small-5 columns text-right">
        <a class="address-edit-link" ng-click="selectAddress($index)">Edit</a>|
        <a class="address-edit-link" ng-click="removeAddress($index)">Delete</a>
      </div>
    </div> 
    <div ng-if="loadingAddresses" class="loader locations-loading">Loading...</div>
    <form ng-show="addAddressView || editAddressView" novalidate>
      <fieldset>
        <div>
            <input type="text" ng-model="addressname" placeholder="Address Name"/>
        </div>
        <div>
            <input type="text" ng-model="address1" placeholder="Street Address"/>
        </div>
        <div>
            <input type="text" ng-model="address2" placeholder="Suite # (If relevant)"/>
        </div>
        <div>
            <input type="text" ng-model="city" placeholder="City"/>
        </div>
        <div>
            <input type="text" ng-model="state" placeholder="State"/>
        </div>
        <div>
            <input type="text" ng-model="zip" placeholder="Zip"/>
        </div>
        <hr>
        <div>
            <input type="text" ng-model="addressphone" placeholder="Contact phone number"/>
        </div>
        <div>
            <input type="text" ng-model="addressemail" placeholder="Contact email address"/>
        </div>
        <label>Check if this location is a Y LIFT Network practice
        	<input type="checkbox" ng-model="yliftInd" ng-true-value="Y" ng-false-value="N">
        </label>
          <button type="submit" class="button small" ng-click="submitAddress()">
            <span ng-show="adding">Adding...</span>
            <span ng-hide="adding || editAddressView">Add</span>
            <span ng-show="updating">Updating...</span>
            <span ng-hide="updating || addAddressView">Update</span>
          </button>
          <button class="button secondary small" ng-click="cancel()"/>Cancel</button>
      </fieldset>
    </form>
    <div ng-if="addresses.length <= 0">
    	<p> User has no addresses </p>
    </div>

	<div ng-if="cartProducts" style="margin-top:20px" class="row admin-user-header">
		<h4>Cart</h4>
		<h5>{{formatPrice(total)}} total</h5>
	</div>
	<div ng-if="cartProducts" class="row">
		<table style="padding:0; width:100%" class="large-8 columns">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in cartProducts">
					<th><a ui-sref="admin.product({productnumber:product.productnumber})">{{product.name}}</a></th>
					<th>{{formatPrice(product.price)}}</th>
					<th>{{quantities[product.productnumber]}}</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="cart.length <= 0">
    	<p> User has no cart </p>
    </div>
</div>