<div class="row">
	<div ng-show="valid">
		<form id="passreset-form" class="small-12 large-4 small-centered columns" name="resetform" ng-model="resetform" novalidate>
			<fieldset>
			  <legend ui-sref="login"><i class="i-arrow-left"></i> Back to Login</legend>
			  <p ng-if="failedMessage" style="color: red">{{failedMessage}}</p>
			  
			  <div style="margin-top:5%" class="row">
			  	<input name="password" type="password" ng-model="password" placeholder="Choose a new password" required>
			  	<input name="confirm" type="password" ng-model="confirm" placeholder="Confirm" required>
			  </div>
			  
			  <div class="row">
			      <button type="submit" class="button small right pointer" value="Submit" ng-click="updatePassword()"/>Submit</button>
			  </div>
			</fieldset>
		</form>
	</div>
	<div ng-show="!valid">
		<div class="row">
			<div class="small-3 small-offset-6 columns">
				<p>{{message}}</p>
			</div>
		</div>
	</div>
</div>