<div class="row">
  <hr>
  <div class="large-2 columns show-for-medium-up">
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
    <br>
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <div class="large-5 columns">
    <img ng-src="{{product.img}}" ng-error="defaultImage()">
  </div>
  <div class="large-5 columns">
    <div ng-hide="ratingLoading" class="review-stars">
      <i ng-class="{'i-star':rating >= 1, 'i-star-open':rating < 1}"></i>
      <i ng-class="{'i-star':rating >= 2, 'i-star-open':rating < 2}"></i>
      <i ng-class="{'i-star':rating >= 3, 'i-star-open':rating < 3}"></i>
      <i ng-class="{'i-star':rating >= 4, 'i-star-open':rating < 4}"></i>
      <i ng-class="{'i-star':rating == 5, 'i-star-open':rating < 5}"></i>
      <a ng-click="goToLeaveReview()">Leave review</a>
    </div>
    <h4>{{product.name}}</h4>
    <p>{{product.description}}</p>
    <div class="panel">
      <h5>${{product.price}}</h5>
      <div ng-if="added" data-alert class="alert-box success radius">
        <strong>Item Added!</strong> View it and the rest of your items from the cart icon above.
        <a class="close" ng-click="reset()">&times;</a>
      </div>
      <div ng-if="error" data-alert class="alert-box info radius">
        {{error}}
        <a class="close" ng-click="reset()">&times;</a>
      </div>
      <div ng-hide="added">
        <div class="quantity">
          <input ng-show="product.attributes.increment > 1" type="text" ng-model="quantity" placeholder="Qty (multiple of {{product.attributes.increment}})" style="padding-right: 15px" required/>
          <input ng-hide="product.attributes.increment > 1" type="text" ng-model="quantity" placeholder="Qty" style="padding-right: 15px" required/>
        </div>
      </div>
      <a class="small button" ng-click="addToCart()">Add to Cart</a>
    </div>

  </div>
</div>

<div class="row show-for-medium-up">
  <hr/>
  <div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  <div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
  </div>
</div>

<div class="row">
  <hr>
  <div ng-hide="relatedProductsLoading" class="large-12 columns">
    <h4>You might also like:</h4>
    <suggested-product-dir pn="p.productnumber" ng-repeat="p in relatedProducts"></suggested-product-dir>
  </div>
</div>

<div class="row">
  <hr>
  <div ng-hide="reviewsLoading" class="large-12 columns">
    <h4>Helpful Customer Reviews</h4><br>
    <product-review-dir review="r" ng-repeat="r in reviews"></product-review-dir>
    <p ng-show="reviews.length <= 0">No reviews yet, <a ng-click="goToLeaveReview()">leave one!</a></p>
  </div>
</div>