<div class="row product">
  <div class="small-2 columns pointer">
    <img ng-if="product.img" class="product-cart-img" ng-src="{{product.img}}" ng-click="goToProduct()" style="width:100%"/>
  </div>
  <div class="small-6 columns">
    <a class="cart-productname" ng-click="goToProduct()">{{product.name}}</a>
    <br>
  </div>
  <div style="font-size:1.2rem" class="small-2 columns">
    ${{product.price}}
  </div>
  <div style="padding:0" class="small-2 columns text-center">
    <div style="font-size:1.2rem">
      <i style="display:inline" ng-show="edit" class="i-minus quantity-change show-for-medium-up left" ng-click="minusOne()"></i>
      <span class="animated" ng-class="{'rubberBand': recentChange}">{{item.quantity}}</span> 
      <i ng-show="edit" class="i-plus quantity-change show-for-medium-up right" ng-click="addOne()"></i> 
    </div>
    <br>
    <a ng-click="remove(ind)">Remove</a>
  </div>
</div>

<hr style="margin-top:5px">
