<!-- <div class="text-center profile-header">
  <h2>{{profile.name}}</h2>
  <h4>{{profile.email}}</h4>
</div> -->


  <!-- Personal Info -->
  <div style="margin-top:30px" class="small-12 large-4 large-offset-4 columns">
    <div class="panel">
        <div class="row">
          <div>
              <h3>My Info<a ui-sref="settings.profile"><small>Edit</small></a></h3>
          </div>
          <hr>
        </div>  
        <div class="row">
          <div class="large-6 columns">
            <strong>Name</strong> 
            <p>{{profile.name}}</p>
            <strong>Email</strong> 
            <p>{{profile.email}}</p>
            <strong>Member since  </strong> 
            <p> {{createdAt}} </p>
          </div> 
          <div class="large-6 end columns">
            <strong style="margin-left:0;">Addresses</strong>
              <div style="padding-right:0"class="col-md-6" ng-repeat="address in profile.addresses track by $index">
                <p id="profile-address">{{address.name}}</p>
                <p style="margin-bottom:0"> {{address.address1}} </p>
                <p style="margin-bottom:0"> {{address.address2}} </p>
                <p> {{address.city}}, {{address.state}} {{address.zip}} </p>
            </div>
          </div>
        </div>
    </div> <!-- panel  -->

    <div ng-show="updateSuccessful" class="alert alert-success">
       <p> Update successful </p>
    </div>


  <!-- Order history -->
    <div class="panel">
      <div>
        <h3> Past Orders </h3>
       </div>
      <div>
        <div>
          <table id="profile-orders" class="table">
            <tr>
              <th>Order #</th>
              <th class="show-for-medium-up">Status</th>
              <th>Date</th>
              <th>Total</th>
              <th></th>
            </tr>
            <tr ng-repeat="order in orders | orderBy: '-createdAt' | limitTo: 5" ng-click="goToOrder(order.id)">
              <td>{{order.id}}</td>
              <td class="show-for-medium-up">{{order.status}}</td>
              <td>{{getDisplayDate(order.createdAt)}}</td>
              <td>{{getDisplayTotal(order.total)}}</td>
              <td><a ng-show="order.total" ui-sref="support">Return</a></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>