<div ng-click="closeConfirm()">
	<div class="row clearfix cal-row">
		<div class="small-12 large-4 columns cal-nav">
			<i class="i-left-circled" ng-click="prev()"></i>
			{{getNavDisplay()}}
			<i class="i-right-circled" ng-click="next()"></i>
		</div>
		<div class="small-12 large-6 columns">
			<select ng-if="selectedOffice" ng-model="selectedOffice" placeholder="Select an office schedule to view">
				<option value="null">Select an office schedule to view</option>
				<option value="office.id" ng-repeat="office in addresses">{{office.name}}</option>
			</select>
			<error-dir ng-if="!selectedOffice && officesLoaded" html-msg="error"></error-dir>
		</div>
		<div class="small-12 large-2 columns">
			<a class="button tiny split right dropdown" dropdown-toggle="#view-dropdown">
				View {{viewState}}
			</a>
			<ul id="view-dropdown" class="f-dropdown">
				<li ng-click="viewState = 'Week'">Week</li>
				<li ng-click="viewState = 'Month'">Month</li>
			</ul>
		</div>
	</div>
	<div class="row" ng-if="apptsLoaded">
		<error-dir msg="{{error}}" redirect-in-msg="true"></error-dir>
		<table class="small-12 columns" ng-if="viewState == 'Week'">
			<thead>
				<tr>
					<th ng-repeat="dow in [] | range: 7">
						<strong>{{getDisplayDay(dow)}}</strong><br>
						{{getDisplayDate(dow)}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="time in [] | range: 9">
					<td class="date-column-provider" ng-repeat="dow in [] | range: 7" ng-class="getSlotClass(dow, time+9)" ng-click="selectAppt(dow, time+9, $event)">
						<span>{{getDisplayTime(dow, time+9)}}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="small-12 columns" ng-if="viewState == 'Month'" ng-repeat="week in [] | range: 5">
			<thead>
				<tr>
					<th ng-repeat="dow in [] | range: 7">
						<strong>{{getDisplayDay(dow+(week*7))}}</strong><br>
						{{getDisplayDate(dow+(week*7))}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="time in [] | range: 9">
					<td class="date-column-provider" ng-repeat="dow in [] | range: 7" ng-class="getSlotClass(dow+(week*7), time+9)" ng-click="selectAppt(dow, time+9, $event)">
						{{getDisplayTime(dow+(week*7), time+9)}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<appointment-confirm-modal-dir appt="selectedAppt" close="closeConfirm" ng-if="apptsLoaded" ng-show="selectedAppt" class="appt-confirm-modal animated" ng-class="{fadeInDown:selectedAppt, fadeOutUp:!selectedAppt}"></appointment-confirm-modal-dir>