<div class="row">
    <div style="text-align: center;padding-top:15px;">
        <!-- <i class="fa fa-truck fa-3x"></i> -->
        <h3><strong>Shipping<strong></h3>
    </div>  
</div>
<div class="row">
    <div ng-show="addresses.length > 0" class="large-10 large-offset-1 columns">
        <h5 class="pull-left">Select an address to ship to</h5>
        <i class="fa text-ylift pull-right fa-2x clickable" style="padding-top:10px;" ng-class="{'fa-plus-square-o': addAddressView, 'fa-plus-square':!addAddressView}" ng-click="toggleAddAddress()"></i>
    </div>
  <ul>
    <li class="large-8 large-offset-2 columns" ng-repeat="address in addresses" ng-click="selectAddress($index)" ng-class="{'list-group-item-success':isAddressSelected($index)}">
        <i ng-hide="isAddressSelected($index)" class="fa fa-circle-o"></i>
        <i ng-show="isAddressSelected($index)" class="fa fa-check-circle"></i>
        Address: {{address.name}}
    </li>   
  </ul>
</div>
<div ng-show="addAddressView" class="row">
  <form class="large-10 large-offset-1 columns">
    <fieldset>
        <legend>Enter Address</legend>
        <div>
            <input type="text" ng-model="name" placeholder="Give this address a name"/>
        </div>
        <div>
            <input type="text" ng-model="address1" placeholder="Street" required/>
        </div>
        <div>
            <input type="text" ng-model="address2" placeholder="Apartment # (If relevant)"/>
        </div>
        <div>
            <input type="text" ng-model="city" placeholder="City" required/>
        </div>
        <div>
            <input type="text" ng-model="state" placeholder="State" required/>
        </div>
        <div>
            <input type="text" ng-model="zip" placeholder="Zip" required/>
        </div>
        <div>
            <button type="submit" ng-click="addAddress()">
                <span ng-hide="updatingAddress">Add Shipping</span>
                <span ng-show="updatingAddress"><div class="throbber">Adding...</div></span>
            </button>
        </div>
    </fieldset>
  </form>
</div>
<div ng-hide="addAddressView" class="row next-control">
    <div class="large-10 large-offset-1 columns">
        <button type="submit" class="btn btn-block ylift-brand" ng-class="{'btn-success':checkoutState != 'shipping'}" ng-click="nextState()" ng-disabled="!addressShipTo">
            <span ng-show="checkoutState == 'shipping'">Next</span>
            <span ng-hide="checkoutState == 'shipping'"><i class="fa fa-check-circle"></i> Done!</span>
        </button>
    </div>
</div>
