<div class="row">
	<div style="text-align: center;padding-top:15px;">
		<!-- <i class="fa fa-truck fa-3x"></i> -->
		<h3><strong>Billing<strong></h3>
	</div>	
</div>
<div class="row">
	<div ng-show="customerLoading || customerUpdating" class="locations-loading"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>
	<div ng-show="!customerLoading && cards.length > 0">
		<div class="col-md-10 col-md-offset-1">
			<h5 class="pull-left">Select a payment method</h5>
			<i class="fa text-ylift pull-right fa-2x clickable" style="padding-top:10px;" ng-class="{'fa-plus-square-o': addPaymentView, 'fa-plus-square':!addPaymentView}" ng-click="toggleAddPayment()"></i> 
		</div>
	  <ul class="list-group">
	    <li class="large-10 large-offset-1 columns" ng-repeat="card in cards" ng-click="selectPayment($index)" ng-class="{'list-group-item-success':isCardSelected($index)}">
	    	<i class="fa" ng-class="{'fa-cc-{{card.brand.toLowerCase()}}':card.brand}"></i> {{card.brand}}   ending in <strong>{{card.last4}}</strong>
	    </li>	
	  </ul>
	</div>
	<div ng-if="error" class="val-error">
		<p class="text-danger">{{error}}</p>
	</div>
</div>
<div ng-show="addPaymentView" class="row">
	<div class="large-10 large-offset-1 columns">
		<form name="ccForm">
			<fieldset>
				<legend>Credit Card Info</legend>
				<div class="input-wrapper">
			        <input type="text" name="namecard" ng-model="namecard" placeholder="Name on Card" ng-minlength="2" required/>
			        <small ng-show="ccForm.namecard.$invalid && ccForm.namecard.$dirty" class="error">Enter name as it appears on the credit card</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="ccnum" ng-model="ccnum" placeholder="Credit Card Number" required/>
			        <small ng-show="!validCCNum() && ccForm.ccnum.$dirty" class="error">Please enter a valid credit card number</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="cvc" ng-model="cvc" placeholder="CVC Code" required/>
			        <small ng-show="!validCVC() && ccForm.cvc.$dirty" class="error">Invalid CVC code</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="exp" ng-model="exp" placeholder="Expiration (MM/YYYY)" ng-keyup="formatExp(exp)" required/>
			        <small ng-show="!validExpDate() && ccForm.exp.$dirty" class="error">Invalid expiration date</small>
			    </div>
			</fieldset>
		</form>
		<form name="billingForm" ng-show="creditCardFieldsComplete()">
			<fieldset>
				<legend>Billing Address Info</legend>
			    <div class="input-wrapper">
			    	<input type="text" name="billingname" ng-model="billingname" placeholder="Name" ng-minlength="2" required/>
		        	<small ng-show="billingForm.billingname.$invalid && billingForm.billingname.$dirty" class="error">Enter the correct billing name</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="billingaddress1" ng-model="billingaddress1" placeholder="Address" ng-minlength="2" required/>
		        	<small ng-show="billingForm.billingaddress1.$invalid && billingForm.billingaddress1.$dirty" class="error">Enter the billing address</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="billingaddress2" ng-model="billingaddress2" placeholder="Suite # (If relevant)"/>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="billingcity" ng-model="billingcity" placeholder="City" ng-minlength="2" required/>
		        	<small ng-show="billingForm.billingcity.$invalid && billingForm.billingcity.$dirty" class="error">Enter a city</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="billingstate" ng-model="billingstate" placeholder="State" ng-minlength="2" required/>
		        	<small ng-show="billingForm.billingstate.$invalid && billingForm.billingstate.$dirty" class="error">Enter a state</small>
			    </div>
			    <div class="input-wrapper">
			        <input type="text" name="billingzip" ng-model="billingzip" placeholder="Zip" ng-minlength="5" ng-maxlength="5" required/>
		        	<small ng-show="billingForm.billingzip.$invalid && billingForm.billingzip.$dirty" class="error">Enter billing zip code</small>
			    </div>
			    <div>
		          <button ng-show="addPaymentView" type="submit" value="Add Payment Option" ng-disabled="!creditCardFieldsComplete() || !billingFieldsComplete()" ng-click="addPayment()"/>
		            <span ng-hide="customerUpdating">Add Payment Option</span>
		            <span ng-show="customerUpdating" ><div class="throbber">Updating...</div></span>
		          </button>
		      	</div>
			</fieldset>
	  	</form>
  	</div>
</div>
<div ng-show="checkoutState == 'billing' || checkoutState == 'review'" class="row next-control">
	<div class="large-10 large-offset-1 columns" style="">
		<button type="submit" ng-click="goToSummary()" ng-disabled="!paymentMethod">
			<span ng-show="checkoutState == 'billing'">Next</span>
			<span ng-hide="checkoutState == 'billing'"><i class="i-check-circle-filled"></i> Done!</span>
		</button>
	</div>
</div>