<div class="row">
    <div style="text-align: center;padding-top:15px;">
        <!-- <i class="fa fa-truck fa-3x"></i> -->
        <h3><strong>Shipping<strong></h3>
    </div>  
</div>
<div class="row">
    <div class="large-8 columns"><h5>Select an address to ship to</h5></div>
    <div ng-show="addAddressView" class="large-4 columns text-right" ng-click="toggleAddAddress()"><i class="i-cancel-circled"></i></div>
    <div style="padding:0" ng-hide="addAddressView" class="large-4 columns text-right" ng-click="toggleAddAddress()"><i class="i-plus"></i></div>
</div>
<div class="row">
    <div class="row address-list thin" ng-repeat="address in addresses" ng-click="selectAddress($index)">
      <div class="large-1 small-1 columns check-it">
        <i ng-show="isAddressSelected($index)" class="i-checked"></i>
        <i ng-hide="isAddressSelected($index)" class="i-unchecked"></i>
      </div>
      <div class="large-3 small-6 columns text-right">{{address.name}}</div>
      <div class="large-8 small-5 columns text-right">
        {{address.city}}, {{address.state}}
      </div>
    </div> 
</div>
<div ng-show="addAddressView" class="row">
  <form name="shipForm" class="large-10 large-offset-1 columns" ng-submit="addAddress()">
    <fieldset>
        <legend>Enter Address</legend>
        <div class="input-wrapper">
            <input type="text" name="name" ng-model="name" placeholder="Give this address a name" ng-minlength="2" required/>
            <small ng-show="shipForm.name.$error.minlength" class="error">Please enter a name to remember this address</small>
        </div>
        <div class="input-wrapper">
            <input type="text" name="address1" ng-model="address1" placeholder="Street" ng-minlength="2" required/>
            <small ng-show="shipForm.address1.$invalid && shipForm.address1.$dirty" class="error">Please enter an address</small>
        </div>
        <div class="input-wrapper">
            <input type="text" name="address2" ng-model="address2" placeholder="Apartment # (If relevant)"/>
        </div>
        <div class="input-wrapper">
            <input type="text" name="city" ng-model="city" placeholder="City" ng-minlength="2" required/>
            <small ng-show="shipForm.city.$invalid && shipForm.city.$dirty" class="error">Please enter a city</small>
        </div>
        <div class="input-wrapper">
            <input type="text" name="state" ng-model="state" placeholder="State" ng-minlength="2" required/>
            <small ng-show="shipForm.state.$invalid && shipForm.state.$dirty" class="error">Please enter a state</small>
        </div>
        <div>
            <input type="text" name="zip" ng-model="zip" placeholder="Zip" ng-minlength="5" ng-maxlength="5" required/>
            <small ng-show="shipForm.zip.$invalid && shipForm.zip.$dirty" class="error">Please enter a zip code</small>
        </div>
        <div>
            <button type="submit" ng-disabled="shipForm.$invalid">
                <span ng-hide="updatingAddress">Add Shipping</span>
                <span ng-show="updatingAddress">Adding...</span>
            </button>
        </div>
    </fieldset>
  </form>
</div>
<div ng-hide="addAddressView" class="row">
    <button type="submit" ng-click="nextState()" class="button small expand" ng-disabled="!$parent.addressShipTo">
        <span ng-show="checkoutState == 'shipping'">Next</span>
        <span ng-hide="checkoutState == 'shipping'">Done!</span>
    </button>
</div>
