<div class="row">
  <div ng-show="loginState == 'signin'"class="small-12 large-4 small-centered columns">
    <form ng-submit="login()">
      <fieldset>
        <legend>Sign In</legend>
        <div ng-if="pass_reset">
          <p> Please check your email for instructions on resetting your password. </p>
        </div>
        <div class="email-field">
          <label>Email
            <input type="text" placeholder="Enter your email" ng-model="email" required>
          </label>
        </div>
        <label>Password
          <div class="row collapse postfix-round">
            <div class="small-10 columns">
              <input type="password" ng-model="password" placeholder="Enter your password">
              <small ng-show="failedMessage" class="error">{{failedMessage}}</small>
            </div>
            <div class="small-2 columns">
              <a ng-click="showForgotPass()" class="button postfix"><span data-tooltip aria-haspopup="true" class="has-tip" title="Click here if you forgot your password">?</span></a>
            </div>
          </div>
        </label>
        <button class="button tiny left" type="submit">Log me in</button>
        <button class="button tiny right" ng-click="showReg()">Register</button>
      </fieldset>
    </form>
  </div>
  <div ng-show="loginState == 'forgot_password'"class="small-8 large-4 small-centered columns">
    <form>
      <fieldset>
        <legend>Password Assistance</legend>
        <small ng-show="failedMessage" class="error"> {{failedMessage}} </small>
        <div class="email-field">
          <label>Email
            <input type="text" placeholder="Enter your email" ng-model="email" required>
          </label>
        </div>
        <button class="button tiny left" ng-click="requestPasswordReset()">Continue</button>
        <button class="button tiny right" ng-click="showSignin()">Go Back</button>
      </fieldset>
    </form>
  </div>
  <div ng-show="loginState == 'register'"class="small-8 large-4 small-centered columns">
    <form name="loginForm" ng-submit="register()">
      <fieldset>
        <legend>Register</legend>
        <div class="input-wrapper">
          <label>Email
            <input type="text" name="email" placeholder="Enter your email" ng-model="email" required>
          </label>
          <small ng-show="loginForm.email.$invalid && loginForm.email.$dirty" class="error">Please enter a valid email address</small>
        </div>
        <div class="input-wrapper">
          <label>Password
            <input type="password" name="password" placeholder="Enter your password" ng-model="password" required>
          </label>
        </div>
        <div class="input-wrapper">
        <label>Confirm Password
          <input type="password" name="confirmpassword" placeholder="Confirm your password" ng-model="confirmpassword" required>
          </label>
          <small ng-show="failedMessage" class="error">{{failedMessage}}</small>
        </div>
        <button type="submit" class="button tiny left">Register</button>
        <button class="button tiny right" ng-click="showSignin()">Back To Login</button>
      </fieldset>
    </form>
  </div>
</div>