<div class="row">
  <div ng-show="loginState == 'signin'"class="small-8 large-4 small-centered columns">
    <form>
      <fieldset>
        <legend>Sign In</legend>
        <div class="email-field">
          <label>Email
            <input type="text" placeholder="Enter your email" ng-model="email" required>
          </label>
        </div>
        <label>Password
          <div class="row collapse postfix-round">
            <div class="small-10 columns">
              <input type="text" placeholder="Enter your password">
            </div>
            <div class="small-2 columns">
              <a ng-click="showForgotPass()" class="button postfix"><span data-tooltip aria-haspopup="true" class="has-tip" title="Click here if you forgot your password">?</span></a>
            </div>
          </div>
        </label>
        <a class="button tiny left" ng-click="login()">Log me in</a>
        <a class="button tiny right" ng-click="showReg()">Register</a>
      </fieldset>
    </form>
  </div>
  <div ng-show="loginState == 'forgot_password'"class="small-8 large-4 small-centered columns">
    <form>
      <fieldset>
        <legend>Password Assistance</legend>
        <div class="email-field">
          <label>Email
            <input type="text" placeholder="Enter your email" ng-model="email" required>
          </label>
        </div>
        <a class="button tiny left" ng-click="requestPasswordReset()">Continue</a>
        <a class="button tiny right" ng-click="showSignin()">Go Back</a>
      </fieldset>
    </form>
  </div>
  <div ng-show="loginState == 'register'"class="small-8 large-4 small-centered columns">
    <form>
      <fieldset>
        <legend>Register</legend>
        <div class="email-field">
          <label>Email
            <input type="text" placeholder="Enter your email" ng-model="email" required>
          </label>
        </div>
        <label>Password
          <input type="password" placeholder="Enter your password" ng-model="password" required>
          <small ng-show="failedMessage" class="error">{{failedMessage}}</small>
        </label>
        <label>Confirm Password
          <input type="password" placeholder="Enter your password" ng-model="password" required>
          <small ng-show="failedMessage" class="error">{{failedMessage}}</small>
        </label>
        <a class="button tiny left" ng-click="register()">Register</a>
        <a class="button tiny right" ng-click="showSignin()">Go To Login</a>
      </fieldset>
    </form>
  </div>
</div>